@media (min-width: $screen-sm-min) {
    nav {
        .navbar {
            border: $navbar-default-border-width;
            &-header {
                .navbar {
                    &-brand {
                        @include padding-left-right(15px);
                    }
                }
            }
        }
    }

    main {
        .content {
            &-index {
                .intro-wrapper {
                    @include margin-top-bottom(50px);
                    .headline {
                        font-weight: 500;
                        font-size: 1.75rem;
                    }
                }
                .start-wrapper {
                    .img-wrapper {
                        @include margin-top-bottom(70px);
                    }
                    .intro {
                        &-wrapper {
                            color: #f5f5f5;
                            p {
                                font-weight: 300;
                                &.text-large {
                                    font-size: 1.125em;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .overview {
        @include margin-top-bottom(30px);
        p {
            margin-bottom: 5px;
        }
        h3 {
            margin-top: 0;
        }
        .overview-img {
            @include margin-top-bottom(50px);
        }
        .overview-text {
            @include margin-top-bottom(60px);
        }
    }

    footer {
        .footer-index {
            .footer-github {
                text-align: right;
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    nav {
        .navbar {
            border: $navbar-default-border-width;
            &-header {
                .navbar {
                    &-brand {
                        @include padding-left-right(15px);
                    }
                }
            }
            &-collapse {
                ul.navbar {
                    &-nav {
                        margin-left: 75px;
                        li {
                            a {
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .content {
            &-index {
                .intro-wrapper {
                    @include margin-top-bottom(50px);
                    .headline {
                        font-weight: 500;
                        font-size: 2rem;
                    }
                }
                .start-wrapper {
                    .img-wrapper {
                        @include margin-top-bottom(70px);
                    }
                    .intro {
                        &-wrapper {
                            color: #f5f5f5;
                            @include margin-top-bottom(80px);
                            p {
                                font-weight: 300;
                                &.text-large {
                                    font-size: 1.25em;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        min-height: 1000px;
        a {
            &:not(.btn) {
                &:after {
                    transform: scaleX(0);
                }
                &:hover {
                    &:after {
                       transform: scaleX(1);
                    }
                }
                &, &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }
        }
    }
    .overview {
        @include margin-top-bottom(30px);
        p {
            margin-bottom: 5px;
        }
        h3 {
            margin-top: 0;
        }
        .overview-img {
            @include margin-top-bottom(85px);
        }
        .overview-text {
            @include margin-top-bottom(60px);
        }
    }
}

@media (min-width: $screen-lg-min) {
    nav {
        .navbar {
            border: $navbar-default-border-width;
            &-header {
                .navbar {
                    &-brand {
                        @include padding-left-right(15px);
                    }
                }
            }
            &-collapse {
                ul.navbar {
                    &-nav {
                        margin-left: 75px;
                        li {
                            a {
                                &:hover {
                                }
                            }
                            &.active {
                                a {
                                    &:not(.navbar-brand) {
                                        font-size: 18px;
                                        text-decoration: none;
                                        color: #fff;
                                        z-index: 2;
                                        $text-shadow-color: #212121;
                                        text-shadow: 
                                        .05em 0 0 $text-shadow-color, -.05em -0 0 $text-shadow-color,
                                        .15em 0 0 $text-shadow-color,-0.15em -0 0 $text-shadow-color,
                                        .2em 0 0 $text-shadow-color,-.2em -0 0 $text-shadow-color;
                                        position: relative;
                                        &:after {
                                            content: '';
                                            height: 1px;
                                            width: 100%;
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            bottom: 15px;
                                            transform: scaleX(1);
                                            transition: linear .01s;
                                            background: currentColor;
                                            z-index: -1;
                                        }
                                        &, &:hover, &:focus, &:active {
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Link Styles by Kevin Gimbel http://kevingimbel.com/
        a {
            &:not(.navbar-brand) {
                font-size: 18px;
                &:hover {
                    &:after {
                       transform: scaleX(1);
                    }
                }
                &, &:hover, &:focus, &:active {
                    text-decoration: none;
                }
                text-decoration: none;
                color: #01579B;
                z-index: 2;
                $text-shadow-color: #212121;
                text-shadow: 
                .05em 0 0 $text-shadow-color, -.05em -0 0 $text-shadow-color,
                .15em 0 0 $text-shadow-color,-0.15em -0 0 $text-shadow-color,
                .2em 0 0 $text-shadow-color,-.2em -0 0 $text-shadow-color;
                position: relative;
                &:after {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 15px;
                    transform: scaleX(0);
                    transition: linear .15s;
                    background: currentColor;
                    z-index: -1;
                }
            }
        }
    }

    main {
        min-height: 1000px;
        .content {
            &-index {
                .intro-wrapper {
                    @include margin-top-bottom(50px);
                    .headline {
                        font-weight: 500;
                        font-size: 2.5rem;
                    }
                }
                .start-wrapper {
                    .img-wrapper {
                        @include margin-top-bottom(70px);
                    }
                    .intro {
                        &-wrapper {
                            color: #f5f5f5;
                            @include margin-top-bottom(110px);
                            p {
                                font-weight: 300;
                                &.text-large {
                                    font-size: 1.25em;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // Link Styles by Kevin Gimbel http://kevingimbel.com/
        a {
            &:not(.btn) {
                &:after {
                    transform: scaleX(0);
                }
                &:hover {
                    &:after {
                       transform: scaleX(1);
                    }
                }
                &, &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }
        }
    }

    .overview {
        @include margin-top-bottom(30px);
        p {
            margin-bottom: 5px;
        }
        h3 {
            margin-top: 0;
        }
        .overview-img {
            @include margin-top-bottom(75px);
        }
        .overview-text {
            @include margin-top-bottom(60px);
        }
    }
}