@import "var", "nav-icon", "bigfoot", "lightbox", "checkbox", "spaces";

* {
    font-family: $font-family-sans-serif;
    &:after {
        content: '';
        clear: both;
    }
    &:focus {
        outline: 0 !important;
    }
}

html {
    font-size: $font-size-base;
}

hr {
    border-top-color: #d8d8d8;
    &.primary {
        border-top-color: $php-purple;
    }
}

.erm {
    .erm-text {
        margin-top: 55px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans;
}

nav {
    .navbar-bg {
        background-color: #212121;
    }
    .container {
        @include padding-left-right(0);
    }
    .navbar {
        border: $navbar-default-border-width;
        &-header {
            .navbar {
                &-toggle {
                    margin: 0;
                    padding: 0;
                }
                &-brand {
                    padding: $logo-center-vertical;
                    padding-left: 0;
                    padding-right: 0;
                    img {
                        height: 25px;
                        fill: #f00;
                    }
                }
            }
        }
        &-collapse {
            border: none;
            box-shadow: none;
            padding-left: 0;
            ul.navbar {
                &-nav {
                    margin-top: 0;
                    li {
                        margin-left: 0px;
                        margin-right: 20px;
                        a {
                            transition: .3s;
                            &:hover {
                                color: #fff;
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height: 1000px;
    // Link Styles by Kevin Gimbel http://kevingimbel.com/
    a {
        &:not(.btn) {
            text-decoration: none;
            color: #01579B;
            z-index: 2;
            $text-shadow-color: #fff;
            text-shadow: 
            .05em 0 0 $text-shadow-color, -.05em -0 0 $text-shadow-color,
            .15em 0 0 $text-shadow-color,-0.15em -0 0 $text-shadow-color,
            .2em 0 0 $text-shadow-color,-.2em -0 0 $text-shadow-color;
            position: relative;
            &:after {
                content: '';
                height: 2px;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 4px;
                transform: scaleX(1);
                transition: linear .15s;
                background: currentColor;
                z-index: -1;
            }
        }
    }
    .content {
        background-color: $body-bg;
        &-index {
            background-color: $php-purple;
            .intro-wrapper {
                .headline {
                    font-weight: 500;
                    font-size: 1.75rem;
                }
            }
            .start-wrapper {
                .img-wrapper {
                    margin-bottom: 30px;
                }
                .intro {
                    &-wrapper {
                        color: #f5f5f5;
                        p {
                            font-weight: 300;
                            &.text-large {
                                font-size: 1.125em;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.overview {
    @include margin-top-bottom(30px);
    p {
        margin-bottom: 5px;
    }
    h3 {
        margin-top: 0;
    }
    .overview-img {
        @include margin-top-bottom(50px);
    }
    .overview-text {
        margin-bottom: 30px;
    }
}

.index-divider {
    margin-left: 0;
    width: 35%;
    background-color: lighten(#424242, 50%);
    border: none;
    height: 1px;
    @include margin-top-bottom(20px);
}

.lamp {
    dt {
        font-weight: normal;
    }
}

.info-wrapper-inner {
    background-color: #F1F1F1;
    padding: 15px;
    // box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    // box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    .code-wrapper {
        background-color: $body-bg;
        border-left: 3px solid $brand-primary;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        code {
            background-color: transparent;
            span {
                font-family: 'Andale Mono';
            }
        }
    }
    & + p {
        margin-top: 35px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.text-wrapper {
    padding: 15px;
}

.row + p {
    margin-top: 15px;
}

.bg-wrapper {
    padding: 4px;
}

.bg-img {
    background-size: cover;
    overflow: hidden;
    margin: -4px;
    h1 {
        @include margin-top-bottom(0);
        @include padding-top-bottom(75px);
        color: #fff;
    }    
}

.formular-bg-img {
    background-image: url('../img/formular-bg.jpg');
    background-position: center -185px;
}

.server-bg-img {
    background-image: url('../img/server-bg.jpg');
    background-position: center -200px;
}

.sql-bg-img {
    background-image: url('../img/bg/html-code.jpg');
    background-size: cover;
    background-position: center -200px;
    overflow: hidden;
    margin: -4px;
}

p {
    margin: ($line-height-computed / 3.5) 0 ($line-height-computed / 3.5);
}

.content-container {
    margin-top: 50px;
}

.content-formular-form {
    label {
        font-weight: normal;
        input {
            margin-left: 5px;
        }
    }
}

.footer-index {
    background-color: $gray-lighter;
    p {
        margin-bottom: 0;
        @include padding-top-bottom(15px);
        .fa-heart {
            color: #f00;
        }
    }
}

footer {
    margin-top: 50px;
    p {
        margin-bottom: 0;
        @include padding-top-bottom(15px);
        .fa-heart {
            color: #f00;
        }
    }
    .footer-index {
        @include padding-left-right(15px);
        @include margin-left-right(0);
        .footer-github {
            text-align: center;
        }
    }
}

.btn {
    padding-top: 13px;
    padding-bottom: 13px;
    transition: .25s;
    &, &:hover, &:active, &:focus {
        background-color: $brand-primary;
        border-color: $brand-primary
    }
}

@import "responsive";