// Customize Variables
$php-purple: #8892BF;
$php-purple-dark: #4F5B93;
$content-bg: #F2F2F2;
$content-min-height: 720px;

// Bootstrap Variables
$brand-primary: $php-purple;
$font-family-sans-serif: 'Fira Sans', sans-serif;
$font-family-sans: 'Roboto Slab', serif;
$body-bg: #fff;
$navbar-height: 70px;
$navbar-default-bg: transparent;
$navbar-margin-bottom: 0;
$navbar-default-border-width: none;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #fff;
$navbar-default-link-color: darken($navbar-default-link-active-color, 10%);
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $php-purple-dark;
$navbar-default-toggle-border-color:  transparent;
$navbar-default-toggle-hover-bg: transparent;
$text-color: #424242;
$font-size-base: 16px;
$border-radius-base: 0;

// Medium screen / desktop
$screen-md-min:              992px;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-md-min;

@import "../bootstrap/stylesheets/_bootstrap";

// Var based on BS
$logo-center-vertical: $navbar-padding-vertical;

@mixin padding-top-bottom($padding-top-bottom) {
    padding-top: $padding-top-bottom;
    padding-bottom: $padding-top-bottom;
}

@mixin padding-top--bottom($padding-top, $padding-bottom) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

@mixin padding-left-right($padding-left-right) {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
}

@mixin padding-left--right($padding-left, $padding-right) {
    padding-left: $padding-left;
    padding-right: $padding-right;
}

@mixin margin-top-bottom($margin-top-bottom) {
    margin-top: $margin-top-bottom;
    margin-bottom: $margin-top-bottom;
}

@mixin margin-top--bottom($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin margin-left-right($margin-left-right) {
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
}

@mixin margin-left--right($margin-left, $margin-right) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}